<div class="container">

  <h1>Node.js <br>Twitter Streaming</h1>
  <img src="img/twitter_logo.jpg" alt="Twitter - Logo">

  <p>Pessoas falando sobre "<strong>Felicidade</strong>" nesse exato momento.</p>
  <div id="status">Carregando...</div>

</div>